*{
	padding: 0;
	margin: 0;	
}

 header, footer{
	display: block;
}



body{
		display: block;
		background-color: rgb(247, 247, 247);
}


header{
	background-color: rgb(117, 117, 163);
}

nav ul{
	list-style-type: none;
	 overflow: hidden;
}

nav li{
	text-align: center;
}

.contentWrapper nav{
	max-width: 180px;
	margin: 0 auto;
}


header nav li a {
    display: block;
    padding: 5px 25px;
    float:left;
	color: white;
	font-size: 12px;
	font-weight: bold;
}


header h3{
	text-align: center;
	padding: 5px;
	color: white;
}

header nav li a:hover {
    color: rgb(217, 217, 217);
}

.active{
	color:black;
}



.contentWrapper{
	max-width: 1020px;
	margin: 0 auto;
}


h2{
	margin: 0 auto;
	padding: 5px;
	max-width:620px;
	margin-top: 10px;
	margin-bottom: 2px;
}

#newsContent h2{
	background-color: rgb(255, 51, 51);
}

#gamesContent h2{
	background-color: rgb(128, 255, 128);
}

#entertainmentContent h2{
	background-color: rgb(102, 194, 255);
}

#musicContent h2{
	background-color: rgb(153, 153, 153);
	
}

/*Box containing links */
.contentBox{
	overflow: none;
	max-width: 600px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px;
	white-space: normal;
	background-color: white;
	
}
a{
	text-decoration: none;
}

/**/

#aboutContent{
	padding: 10px;
	margin: 0 auto;
	max-width: 500px;
}


footer{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgb(117, 117, 163);
	text-align: center;
	color: white;
}